/*------------------------------------------------------------------
[Theme Styles]

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. ...
-----------------------------------*/
/* ==========================================================
! 01. ...
==============	=========================================== */
div {
  position: relative;
}

img {
  border: 0;
  width: 100%;
  height: auto;
}

table {
  border-spacing: 0;
}

tbody {
  position: relative;
  vertical-align: top;
  border-spacing: 0;
}

table td {
  padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  min-width: 20rem;
  overflow-y: scroll;
  height: 100vh;
  font-family: georgia, 'times new roman', times, serif;
  line-height: 1.6;
  margin: 0;
  font-size: 1.00rem;
  background-color: #000;
}

@media all and (min-width: 25em) {
  html {
      font-size: calc(0.8999rem + 0.4000vw);
  }
}

@media all and (min-width: 50em) {
  html {
      font-size: 1.10rem;
  }
}

.a {
  background-color: #000000;
  overflow: hidden;
}

.b {
  margin: 0 auto;
  max-width: 60.000000rem;
  background-color: #000000;
}

@font-face {
  font-family: c;
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: c;
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: c;
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: c;
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/Roboto-BoldItalic.ttf');
}

.d {
  margin: 0 auto;
  font-family: c;
  color: #878787;
  max-width: 35.000000rem;
  padding: 0 1.000000rem;
}

.e {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: block;
  padding: 1.5rem 0;
}

.e:hover {
  color: #c3c3c3;
}

.e:active {
  color: #e7e7e7;
}

@media all and (hover: none) {
  .e:hover {
      color: #878787;
  }
}

.f {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: block;
  padding: 1.5rem 0;
  color: #ededed;
}

.f:hover {
  color: #f6f6f6;
}

.f:active {
  color: #fbfbfb;
}

@media all and (hover: none) {
  .f:hover {
      color: #ededed;
  }
}

.g {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: block;
  padding: 1.5rem 0;
  color: #444444;
}

.h {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  font-size: 1.00rem;
  color: #878787;
  line-height: 1;
  font-family: c;
  color: #878787;
}

@media all and (min-width: 25em) {
  .h {
      font-size: calc(0.7000rem + 1.1999vw);
  }
}

@media all and (min-width: 50em) {
  .h {
      font-size: 1.29rem;
  }
}

.i {
  vertical-align: middle;
  padding: 0 0 0 .75rem;
}

.j {
  color: #cccccc;
  line-height: 125%;
  font-size: 150%;
  vertical-align: middle;
}

.k {
  line-height: 125%;
  font-size: 100%;
  vertical-align: middle;
}

.l {
  padding: .75rem 0 .75rem 0;
}

.m {
  height: 0.40rem;
}

.n {
  position: relative;
  background: url("./img/me.jpeg") no-repeat 50.00% 50.00%;
  ;
  background-size: auto 100%;
  border-radius: 10px;
}

.n:hover {
  background: url("./img/me.jpeg") no-repeat 50.00% 50.00%;
  ;
  background-size: auto 100%;
}

@media all and (hover: none) {
  .n:hover {
      background: url("./img/me.jpeg") no-repeat 50.00% 50.00%;
      ;
      background-size: auto 100%;
  }
}

@font-face {
  font-family: o;
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/NotoSerif-Regular.ttf');
}

@font-face {
  font-family: o;
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/NotoSerif-Italic.ttf');
}

@font-face {
  font-family: o;
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/NotoSerif-Bold.ttf');
}

@font-face {
  font-family: o;
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/NotoSerif-BoldItalic.ttf');
}

.p {
  margin: 0 auto;
  font-family: o;
  color: #0d0d0d;
}

.q {
  box-shadow: 0 0.25rem 0.6rem #000;
  height: 40vh;
  background: url("./img/bg1.jpeg") no-repeat 50.00% 20.99%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  ;
}

.r {
  background-color: #ffffff;
  overflow: hidden;
}

.s {
  height: 0.60rem;
}

.t {
  margin: 0 auto;
  max-width: 60.000000rem;
  background-color: #ffffff;
}

.u {
  margin: 0 auto;
  font-size: 1.54rem;
  line-height: 1.39;
  font-family: c;
  color: #0d0d0d;
  max-width: 35.000000rem;
  padding: 0 1.000000rem;
}

.v {
  height: 2.00rem;
}

.w {
  margin: 0 auto;
  font-family: o;
  color: #0d0d0d;
  max-width: 35.000000rem;
  padding: 0 1.000000rem;
}

.x {
  height: 0.80rem;
}

.y {
  border-bottom: .2rem solid #b5cfe6;
}

.y:hover {
  border-bottom: .2rem solid #e38080;
}

.y:active {
  border-bottom: .2rem solid #f0f5fa;
}

@media all and (hover: none) {
  .y:hover {
      border-bottom: .2rem solid #b5cfe6;
  }
}

.z {
  margin: 0 auto;
  font-size: 1.54rem;
  line-height: 1.39;
  font-family: c;
  color: #ffffff;
  max-width: 35.000000rem;
  padding: 0 1.000000rem;
}

.A {
  margin: 0 auto;
  font-family: o;
  color: #ffffff;
  max-width: 35.000000rem;
  padding: 0 1.000000rem;
}

.D {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.E {
  margin: 0 0.5rem 0 0;
  display: inline-block;
  box-sizing: border-box;
  font: inherit;
  font-family: c;
  ;
  flex-grow: 1;
  font-size: 100%;
  font-style: normal;
  vertical-align: bottom;
  border: none;
  padding: .4rem .6rem .4rem .6rem;
  background-color: #808080;
  color: #ffffff;
}

.E:disabled {
  background-color: #404040;
  color: #808080;
}

.E::-moz-placeholder {
  color: #b2b2b2;
  opacity: 1;
}

.E::-webkit-input-placeholder {
  color: #b2b2b2;
  opacity: 1;
}

.E::-ms-input-placeholder {
  color: #b2b2b2;
  opacity: 1;
}

.E::placeholder {
  color: #b2b2b2;
  opacity: 1;
}

.E::placeholder-shown {
  color: #b2b2b2;
  opacity: 1;
}

.F {
  margin: 0;
  display: inline-block;
  font: inherit;
  font-family: c;
  ;
  font-size: 100%;
  font-style: normal;
  vertical-align: bottom;
  padding: .2rem .4rem;
  background-color: #002166;
  border: 0.2rem solid #336696;
  flex-grow: 0;
  color: #ffffff;
}

.F:disabled {
  background-color: #001133;
  border: 0.2rem solid #1a334b;
  color: #808080;
  pointer-events: none;
}

.F:hover {
  background-color: #8090b2;
  border-color: #99b2cb;
  color: #ffffff;
}

@media all and (hover: none) {
  .F:hover {
      background-color: #002166;
      border-color: #336696;
      color: #ffffff;
  }
}

.F:active {
  background-color: #ccd3e0;
  border-color: #d6e0ea;
  color: #ffffff;
}

.G {
  text-align: center;
}

.K {
  margin: 0 auto;
  font-family: c;
  color: #b2b2b2;
  max-width: 35.000000rem;
  padding: 0 1.000000rem;
}

.L {
  font-size: 3vw;
}

@media all and (min-width: 35.00rem) {
  .L {
      font-size: 1.04rem;
  }
}

@media all and (max-width: 30.00rem) {
  .L {
      font-size: 0.89rem;
  }
}

.M {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  table-layout: fixed;
  text-align: center;
}

.N {
  height: 1rem;
}

.O {
  width: 1rem;
}

.P {
  height: 4.00rem;
}